{% extends 'Doctor_template/masterdepartment.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}


	<section class="section department-single">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="department-img">
						<img src="{% static 'images/department/endobg.jpg' %}" alt="" width="100%" height="500px">
					</div>
				</div>
			</div>

			<div class="row">
				<!-- <div class="col-lg-8"> -->
				<div class="department-content mt-5">
					<h3 class="text-md">Medecine and Health</h3>
					<div class="divider my-4"></div>
					<p class="lead">The department of Endocrinology at Aster MIMS is committed to providing
						comprehensive care to patients with hormonal and metabolism conditions. The department and its
						clinicians facilitate diagnosing and treating problems such as diabetes, thyroid disorders,
						obesity, irregular menstruation, and osteoporosis. They also hold expertise in treating
						conditions such as pituitary and adrenal disorders, growth and pubertal problems in children,
						and calcium-related problems.<br><br>
						The department boasts state-of-the-art diagnostic and therapeutic technologies including a
						glucometer rental system, continuous glucose monitoring system, insulin infusion pump, and DXA
						bone densitometry. Besides, it also facilitates diabetic health check-ups and obesity clinics.
						ASTER EASY CARE is a new diabetes follow-up program in which diabetic patients are closely
						monitored.</p>


{% endblock %}					