{% extends 'Doctor_template/masterdepartment.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}


<section class="section department-single">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="department-img">
					<img src="{% static 'images/department/heartbg.jpg' %}" alt=""  width="100%" height="500px">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="department-content mt-5">
					<h3 class="text-md">Medecine and Health</h3>
					<div class="divider my-4"></div>
					<p class="lead">Our cardiac care department is well equipped with latest technology and skilled personnel, making us one of the most sought after hospitals in the region.<br>With its novel and integrative strategies in preventive and therapeutic cardiovascular care, the heart centre at Heaven offers world‐class diagnostic and treatment facilities for all cardiac ailments among adults and children. When
						a patient with chest pain is brought to the hospital, the entire team moves fast and ensures that the patient receives percutaneous coronary intervention (PCI) as early as possible, saving the most critical time.<br>The centre
						boasts of top‐quality services and facilities with the least door‐to‐balloon time and door‐to‐needle time in the region. The centre provides a comprehensive range of medical as well as surgical treatments with the assistance
						of latest technologies. The Cardiologists and Cardio Thoracic Surgeons at the centre are trained from renowned institutes, having salient experience in the respective areas.<br><br>Patients are always at the heart of treatment at Heaven and our well‐trained cardiologists collaborate with experts from various specialties to provide the most accurate and personalised treatment.<br></p>

{% endblock %}
					