{% extends 'Doctor_template/masterdepartment.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}


<section class="section department-single">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="department-img">
					<img src="{% static 'images/department/neurobg.jpg' %}" alt="" width="100%" height="500px">
				</div>
			</div>
		</div>

		<div class="row">
			<!-- <div class="col-lg-8"> -->
				<div class="department-content mt-5">
					<h3 class="text-md">Medecine and Health</h3>
					<div class="divider my-4"></div>
					<p class="lead">The Institute of Neuro Sciences at Heaven is a Centre of Excellence that focuses on providing comprehensive brain, spine and nerve care. One of the few such facilities in the state, the CoE is staffed with experts in neurology, neuroradiology, neuropsychology, neuro oncology and neuro rehabilitation as well as surgeons who specialize in neuro and spine surgery.
						<br><br>The CoE provides care for all kinds of disorders neurological disorders ranging from headaches and epilepsy to multiple sclerosis and Parkinson’s disease. The institute is designed to function as an independent hospital, equipped with in-patient and outpatient wings as well as a fully fledged day care centre, neuro ICUs, state of the art neurosurgery suits, interventional neuroradiology suites and advanced imaging facilities. Another feature of the centre is a fully-fledged 24-hour-division that is prepared, infrastructure-wise and personnel-wise, to handle all sorts of neurological and neurosurgery emergencies, including neurotrauma and stroke management.<br><br>
						
The team of doctors and surgeons at the CoE are not only highly qualified and experienced, but are also dedicated to adopting a multi-disciplinary and evidence-based approach to treating patients. The team of experts is ably backed up by a well-trained group of nurses, technicians and rehabilitation therapists.
					</p>
{% endblock %}

					