
{% extends 'Doctor_template/masterdepartment.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}

<section class="section department-single">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="department-img">
					<img src="{% static 'images/department/radio.jpg' %}" alt=""  width="100%" height="500px">
				</div>
			</div>
		</div>

		<div class="row">
			<!-- <div class="col-lg-8"> -->
				<div class="department-content mt-5">
					<h3 class="text-md">Medecine and Health</h3>
					<div class="divider my-4"></div>
					<p class="lead">The Institute of Radiology and Imaging Sciences department in MIMS is one of the most state-of-the-art facilities in the entire country and is integrated with advanced technologies that are at par with the West. Imaging is the technique through which radiologists examine our internal organs without making any incisions. This is a kind of visual inspection that would help the radiologists make an accurate diagnosis. Through imaging, doctors and surgeons would be able to chart a treatment pattern and chart every course of surgery.<br><br>
						The department of Radiology is committed to providing enhanced patient care to all its patients. All the patients are treated safely and efficiently so they get the best care in the whole country. The department provides a rich array of services ranging from vascular, abdominal, neurologic, cardiac, head and neck, musculoskeletal, pediatric (antenatal sonography, pediatric and neonatal sonography, neurosonography,) and women’s imaging (mammosonography). The department is integrated with the finest equipments to do invasive procedures under sonographic guidance, for example, a biopsy of mediastinal and retro-peritoneal lymph nodes, liver, kidneys, breast, and musculoskeletal lesions. The radiology services are provided by veteran radiologists whose knowledge and experience remain the best.<br><br>
					</p>

{% endblock %}
					