{% extends 'Doctor_template/masterdepartment.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}

<section class="section department-single">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="department-img">
					<img src="{% static 'images/department/renal.jpg' %}" alt="" width="100%" height="500px">
				</div>
			</div>
		</div>

		<div class="row">
			<!-- <div class="col-lg-8"> -->
			<div class="department-content mt-5">
				<h3 class="text-md">Medecine and Health</h3>
				<div class="divider my-4"></div>
				<p class="lead">The center of excellence for Nephrology and Urology at Heaven is equipped with state
					of the art technical support and is dedicated to providing the best of care to patients
					suffering from kidney and genitourinary issues. Nephrology is the discipline that deals with the
					treatment of conditions that affect the kidneys, while Urology involves the surgical issues of
					the urinary tract and the reproductive system. The facility at Heaven boasts of the services of
					some of the best nephrologists and urologists in Kerala with extensive experience in the
					field.<br><br>
					The CoE offers a number of advanced procedures including renal transplantation and minimally
					invasive robotic surgery and is one of the few facilities in the state to be equipped to perform
					robotic surgery with the Da Vinci Surgical Robot – one of the most advanced methods to perform
					minimally invasive surgery available in the world today. The facility also boasts of a
					state-of-the-art dialysis centre and offers treatment for diseases like kidney stone, urinary
					incontinence, bladder stones and kidney failure.<br><br>

					The facility is also equipped to handle a high volume of kidney transplants and all patients
					undergoing the procedure will be able to avail of some of the best post-transplant care in the
					state.

				</p>
{% endblock %}